/* Author : Vijith */

h2{
    font-size: 230px;
    background-image: url('../images/image.jpg');
    background-repeat: repeat;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}